@import "tailwindcss";


header{
    margin: 1rem 1rem 0;
    padding: 0.5rem 1rem;
}

.homepage{
    align-items: center;
    padding: 0 20px;
    margin-bottom: 1rem;
}


.image1{
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(101, 99, 99);
}

.padding-bottom{
    padding-bottom: 15rem;
}

.gradient{
    padding: 0 4rem;
    margin-bottom: 1.2rem;
    /* background: linear-gradient(to right, rgb(22, 22, 238), rgb(75, 59, 82)); */
    background-color: #ebf1fa;
    box-shadow: 2px 2px 9px rgba(132, 153, 235, 0.626);
}

.heading{
    padding: 2px 10px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ecf419;
    background: linear-gradient(to right, rgb(62, 62, 244), rgb(100, 100, 255), rgb(255,255,255));
}

.align-section {
    display: flex;
    align-items: center;
    margin: 10px;
}


.formborder{
    border-radius: 5px;
    box-shadow: 0 2px 14px rgba(106, 117, 148, 0.982);
}

.shadow{
    box-shadow: 0 1px 8px rgba(108, 121, 202, 0.573);
}


footer{
    height: auto;
    padding: 2rem 2rem 1.5rem;
    background-color: rgb(3, 7, 58);
}