@import "tailwindcss";


@layer base{
    header{
        @apply mx-9 my-7;
    }
    img{
        @apply rounded-["2px"];
    }
    footer{
        @apply p-5 bg-[rgb(3,7,58)];
    }
}

@utility flex-between{
    @apply flex justify-between items-center;
}

@utility fl-col{
    @apply flex flex-col gap-8;
}

@utility flex-center{
    @apply flex items-center p-1 gap-3;
}

@utility page-padding{
    @apply px-20 py-5;
}

@utility align-container{
    @apply block md:flex justify-center gap-8 md:gap-5;
}

@utility text-adjust{
    @apply fl-col gap-2 text-start text-sm md:text-lg pl-3;
}

@utility p-style{
    @apply text-sm md:text-lg text-black leading-relaxed pl-3;
}

@utility link-style{
    @apply font-bold text-gray-400 hover:text-gray-500 duration-700 cursor-pointer md:text-base text-sm;
}

@utility image-style{
    @apply rounded mr-4 transition-transform duration-500 hover:scale-x-[-1];
}

@utility h2-style{
    @apply text-blue-700 text-[clamp(15px,5vw,25px)] font-bold text-center;
}

@utility submit-button{
    @apply bg-blue-600 hover:bg-indigo-500 duration-200 px-6 py-1 rounded-md text-white;
}

@utility input-style{
    @apply p-[5px_10px] bg-white rounded-[8px] border border-[#64B5F6] w-full text-base text-[navy] outline-none shadow-[0_1px_8px_rgba(108,121,202,0.573)];
}

@utility select-section{
    @apply py-2 px-3 bg-stone-100 rounded text-base text-blue-950 outline-none;
}

.gradient{
    padding: 0 4rem;
    margin-bottom: 1.2rem;
    background: linear-gradient(60deg, rgb(9, 9, 104), rgb(186, 164, 197));
}

.formborder{
    border-radius: 5px;
    box-shadow: 0 2px 14px rgba(106, 117, 148, 0.982);
}

.shadow{
    box-shadow: 0 1px 8px rgba(108, 121, 202, 0.573);
}
